@font-face {
    font-family: "LINESeedKR-Bd";
    src: url("../fonts/LINESeedKR-Bd.ttf") format("truetype");
  }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .login-form {
    width: 360px;
    text-align: center;
  }

  .login-form h4 {
    margin-bottom: 35px;
    color: #2d5aff;
    font-family: "LINESeedKR-Bd";
  }
  
  .input-group {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .inputarea input {
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    transition: border-color 0.3s;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  input:focus {
    border-color: #8AC0FF;
    outline: none;
  }

  input::placeholder{
    color: #7a7a7a;
  }

  .login-button {
    margin-top: 15px;
    width: 40%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "LINESeedKR-Bd";
  }